PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb+srv://rimjhimjai01_db_user:5RVS0oF3Ux45l06y@getajob-cluster.bgr9y3i.mongodb.net/getajob?appName=getajob-cluster
SESSION_SECRET=your_session_secret_here
LLM_API_KEY=your_llm_api_key_here
LLM_PROVIDER=groq
SEARCH_API_KEY=your_search_api_key_here